buildDir="../onetwothree/build"

// IDE specific configurations
oeide {
	useSharedAVM="false"
	oeideEvents="true"
	useGlobalToolboxVD="false"
	addDefaultParams="true"
	hideTTYConsole="false"
	useProjectCompilerSettings="true"
	saveRCode="true"
	xrefXmlDir=""
	preCompileCallbackRoutine=""

	// Initialize OpenEdge Tooling options
	initializeOpenEdgeTooling {
		mode="3"
	}
}

avm {
	wrkDir="${ROOT}"
	
	// AVM options
	avmOptions {
		tmpDir="${WRKDIR}"
		tty.enabled="false"
		startupParameters=""
		assembliesDir=""
	}

	database {
	}
}

// Compile configurations
compile {
	compilableFileExtensions="p,cls"

	compileOptions {
		multiCompile.enabled="false"

		// Strict options
		strictOptions {
			requireFullNames="Error"
			requireFieldQualifiers="Error"
			requireReturnValues="Error"

			requireFullKeywords="Ignore"
		}


		xcodeKey=""
		xrefXml.enabled="false"
		streamIO.enabled="false"

		// LANGUAGES option in COMPILE statement.
		languages {
			list=""
			textSegGrow=""
		}

		minSize.enabled="false"
		attrSpace.enabled="false"
	}
}
